#!/bin/bash

# git clone等アプリケーションソースを展開するためのスクリプトを記載する

# # 例
# mkdir /var/www/html/default
# chmod 775 /var/www/html/default
# echo "<?php phpinfo();" > /var/www/html/default/index.php
# chmod 775 /var/www/html/default/index.php

# composer create-project laravel/laravel /var/www/html/laravel
