$DISTRO_NAME = "php82"
$PHP_VERSION = "8.2"
$TIME_ZONE = "Asia/Tokyo"
$VSCODE_BIN_PATH = "/c/Users/<username>/AppData/Local/Programs/Microsoft\ VS\ Code/bin/code"
$GIT_BIN_PATH = "/c/Program\ Files/Git/bin/git.exe"
$DEFAULT_USER = "ubuntu"
$DEFAULT_USER_PASSWORD = ""
$HOSTNAME = "php82"
